/* ALI's Styles  */
.ali-linkedIn-logo {
  width: 3rem;
  height: 3rem;
  color: #0b66c2;
}

.ali-navbar-icons {
  width: 1.8rem;
  height: 1.8rem;
  color: rgb(114, 110, 110);
}

.ali-navbar-icon-description {
  color: rgb(114, 110, 110);
}

/* ALI's Styles END  */

/* Gbemi's styles   */

/* Gbemi's styles END  */

/* Martin's Styles */

/* Martin's Styles END */
